@page
@model SuperBank.Pages.BankService.DepositModel
@{
    ViewData["Title"] = "Deposit";
}

<div class="container mt-5 bg-dark">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            <h2 class="text-center mb-3 mt-2 text-white">Deposit Money</h2>

            <!-- Display alert message if available -->
            @if (!string.IsNullOrEmpty(Model.DepositAlert))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertMessage">
                    @Html.Raw(Model.DepositAlert)
                    <button type="button btn-sm" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="DepositAmount">Amount to Deposit:</label>
                            <div class="input-group mt-3">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </span>
                                <input type="number" class="form-control" id="DepositAmount" name="DepositAmount" asp-for="DepositAmount" required min="1" value="">
                            </div>
                            <span asp-validation-for="DepositAmount" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sm btn-success btn-block mt-3 px-4">Deposit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>// Close the alert message when the close button is clicked
        $(".alert .close").on("click", function (e) {
            $(this).parent().fadeOut("fast");
            window.location.href = "/Services";
        });</script>
}