@page
@model SuperBank.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<style>

    .card {
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 30px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
        margin-top: 20px;
    }

    p.lead {
        font-size: 15px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        margin-bottom: 15px;
    }
</style>


<div class="container bg-dark">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <div id="errorAlert" class="alert alert-danger">@TempData["ErrorMessage"]</div>
                <script>// Automatically close the alert and redirect after 10 seconds
                    setTimeout(function () {
                        var errorAlert = document.getElementById("errorAlert");
                        if (errorAlert) {
                            errorAlert.style.display = "none"; // Hide the alert
                            window.location.href = "/Account/Login"; // Redirect to the login page
                        }
                    }, 5000); // 10 seconds (10000 milliseconds)
                </script>
            }
            @if (TempData.ContainsKey("Message"))
            {
                <div id ="successAlert" class="alert alert-success">@TempData["Message"]</div>
                <script>
                    setTimeout(function () {
                        var successAlert = document.getElementById("successAlert");
                        if (successAlert) {
                            successAlert.style.display = "none"; 
                            window.location.href = "/Account/Login"; 
                        }
                    }, 5000); 
                </script>
            }
            <h1 class="text-center text-white mt-3 mb-3">@ViewData["Title"]</h1>
            <div class="card mb-5">
                <div class="card-body">
                    <h2 class="card-title mb-3">Enter email to change your password:</h2>
                    <form method="post">
                        <div class="form-group mb-3">
                            <input type="email" class="form-control" id="Email" name="Email" required>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary float-end">Next</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

